@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@attribute [StyleSheet]

@namespace RogueFPS

<root class="AbilityIcon">
	<div class="ability">
		@if (hasAmmo)
		{
			<div class="ammo">@AmmoCount</div>
		}else{
			<div class="ammo"></div>
		}
		<div class="icon @CooldownCheck" style="background-image: url('@AbilityImage')">
		<div class="coolingdown @CooldownCheck" style="@CooldownTime"></div>
		</div>
		<InputHint Size=@InputGlyphSize.Small @Action="@AbilityInput" />
	</div>	
</root>

@code
{
	public string AbilityName { get; set; } = "Hello World!";
	public string AbilityInput { get; set; } = "Hello World!";
	public string AbilityImage { get; set; } = "Hello World!";
	public bool hasCoolDown { get; set; } = false;
	public bool hasAmmo { get; set; } = false;
	public string CooldownTime { get; set; } = "";
	public string CooldownCheck { get; set; } = "";
	public float coolDownMax { get; set; } = 0.0f;
	public int AmmoCount { get; set; }

	private float skillCoolDown;

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(Time.Now, AmmoCount);
}
